<table class="min-w-full divide-y divide-gray-200 p-4">
        <thead class="bg-gray-50">
          <tr>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              ProcessID
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              startTime
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              businessKey
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              processDefinitionName
            </th>
            <th class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
              processDefinitionKey
            </th>
          </tr>
        </thead>
        
        <tbody class="bg-white divide-y divide-gray-200" *ngFor="let process of processes?.entities; let i = index">
          <tr class="hover:bg-gray-50">
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900 hover:underline font-semibold cursor-pointer"
            (click)="viewDetails(process?.ProcessID || '')">
              {{ process?.ProcessID }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-600">
              <div class="flex flex-col space-y-1">
                <div class="flex items-center rounded-full px-3 py-1 bg-gray-100">
                  <svg class="w-4 h-4 mr-2 text-gray-600" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"></path>
                  </svg>
                  <span class="text-sm font-medium  text-gray-700">{{ (process?.ProcessInfo?.startTime| date:'yyyy-MM-dd HH:mm:ss')|| "no date available" }}</span>
                </div>
              </div>
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ process?.ProcessInfo?.businessKey || 'Empty' }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-900">
              {{ process?.ProcessInfo?.processDefinitionName || 'Empty' }}
            </td>
            <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
               <div class="flex justify-start gap-4 items-center">
                   <button class="text-blue-600 hover:text-blue-900 p-2 rounded-full hover:bg-blue-50 transition-colors cursor-pointer"
                        title="See details">
                  <div class="flex items-center scale-90">
                      <mat-icon aria-hidden="false" aria-label="menu icon" fontIcon="refresh"></mat-icon>
                    </div>
                </button>
                <div *ngIf="process?.ProcessInfo?.status=='active'; else resume">
                  <button class="text-red-600 p-2 rounded-full cursor-pointer"
                      (click)="PauseProcess(process?.ProcessID || '')"
                      title="Pause"
                      [disabled]="loading">
                      <div class="flex items-center">
                        <mat-icon aria-hidden="false" aria-label="menu icon" fontIcon="stop"></mat-icon>
                      </div>
                  </button>
                </div>
                <ng-template #resume>
                  <button class="text-red-600 p-2 rounded-full cursor-pointer"
                      (click)="ResumeProcess(process?.ProcessID || '')"
                      title="Resume"
                      [disabled]="loading">
                      <div class="flex items-center">
                        <mat-icon aria-hidden="false" aria-label="menu icon" fontIcon="arrow_right" class="scale-x-150"></mat-icon>
                      </div>
                  </button>
                </ng-template>
                <button class="text-red-600 hover:bg-red-200 p-1 rounded-full hover:text-red-500 transition-colors cursor-pointer"
                    (click)="cancelProcess(process?.ProcessID || '')"
                    title="Cancel"
                    [disabled]="loading">
                    <div class="flex items-center">
                      <mat-icon  aria-hidden="false" aria-label="menu icon" fontIcon="close"></mat-icon>
                    </div>
                </button>
                </div>
            </td>
          </tr>
            <p-toast 
    position="top-right" 
    [life]="5000"
    [style]="{ 'z-index': '9999', 'position': 'fixed', 'top': '20px', 'right': '20px' }">
  </p-toast>
  <p-confirmdialog ></p-confirmdialog>
</table>