<aside
  @slideInOut
  id="logo-sidebar"
  class="fixed top-0 left-0 z-40 w-64 h-screen bg-gray-50 shadow-lg"
  aria-label="Sidebar"
>
  <div class="h-full px-4 py-3 overflow-y-auto">
    <div class="px-4 py-2.5 flex items-center">
      <button
        (click)="Close()"
        name="sidebarButton"
        type="button"
        class="text-gray-800 hover:bg-gray-200 hover:text-secondary rounded-lg text-sm p-1.5 inline-flex items-center"
      >
        <mat-icon>dehaze</mat-icon>
      </button>
      <a href="#" class="ml-4">
        <img width="120px" src="dashy-logo.png" alt="Dashy logo" />
      </a>
    </div>
    <!-- Menu Items -->
    <ul class="space-y-2 font-medium mt-4">
      <li *ngFor="let item of items">
        <a
          [routerLink]="item.routelink"
          routerLinkActive="bg-gray-200 border-accent"
          [routerLinkActiveOptions]="{ exact: true }"
          (click)="Close()"
          class="flex items-center gap-3 p-2 text-base text-secondary hover:bg-gray-100 group border-l-4 border-transparent transition-all duration-200"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          <span class="truncate">{{ item.label }}</span>
        </a>
      </li>
    </ul>

  </div>
</aside>
